<div class="col-md-8 banner-sec">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag 'family_1.jpg', class: "d-block img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
          <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'family_1.jpg', class: "d-block img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
          <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'family_1.jpg', class: "d-block img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
          <div class="banner-text">
          <h2>This is Heaven</h2>
          <p>Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
