<div class="col-md-8 banner-sec">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag 'family_1.jpg', class: "d-block img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
          <div class="banner-text">
          <h2>우리가족 이야기</h2>
          <p>Mate</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'family_2.jpg', class: "d-block img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
          <div class="banner-text">
          <h2>가족과 함께한 즐거운 시간들</h2>
          <p>Family Time</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag 'family_3.jpg', class: "d-block img-fluid" %>
        <div class="carousel-caption d-none d-md-block">
          <div class="banner-text">
          <h2>차곡차곡 쌓아가는 우리 가족 이야기</h2>
          <p>비밀일기장</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
