<span class="btn btn-<%= current_user&.like?(item) ? "danger" : "secondary" %>" style="float: right">
  <i class="fa fa-<%= current_user&.like?(item) ? "heart" : "heart-o" %>" style="float: right"></i>
</span>
