/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome";

 /* -------------- 로그인 화면 -------------- */

 @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
 .login-block{
 background: #DE6262;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 float:left;
 width:100%;
 height:-webkit-fill-available;
 padding : 50px 0;
 }
 .login-block .col-md-8{padding:0;}
 .login-block .carousel{margin-right:-1px;}
 .login-block .img-fluid{max-width:100%;height:-webkit-fill-available;}
 .banner-sec{margin:auto 0;height:500px;}
 ._login-container{margin:0 5%;background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
 .carousel-inner{border-radius:0 10px 10px 0;}
 .carousel-caption{text-align:left; left:5%;}
 .login-sec{padding: 50px 30px; position:relative;}
 .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
 .login-sec .copy-text i{color:#FEB58A;}
 .login-sec .copy-text a{color:#E36262;}
 .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
 .login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
 .btn-login{background: #DE6262; color:#fff; font-weight:600;}
 .banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
 .banner-text h2{color:#fff; font-weight:600;}
 .banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
 .banner-text p{color:#fff;}

 /* -------------- 로그인 화면 끝 -------------- */
 
 /* -------------- 채팅 화면 -------------- */

  @import "bootstrap";
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

    body {
      font-family: 'Josefin Sans', sans-serif;
      height:100%;
    }

    .full-height {
     max-height:calc(100% - 56px);
     overflow: hidden;
    }

    input.form-control.sidebar-form {
      position: absolute;
      bottom: 0;
      left: 0;
      border: 0;
      border-radius: 0;
    }

    .chat-box {
      height: 94vh;
      overflow: scroll;
    }

    .chat {
      border-radius: 3px;
      padding: 0rem 2rem 0 1rem;
    }

    .chat-username {
      font-size: 0.7rem;
    }

    .chat-message {
      font-size: 0.85rem;
    }
    
/* -------------- 채팅 화면 끝 -------------- */
